.element__list {
  padding-left: 0;
  padding-right: 0;
  padding-top: 50px;
  padding-bottom: 0;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  justify-content: center;
  gap: 17px;
  margin: 0;
}

.element__list-item {
  list-style-type: none;
  margin: 0;
  padding: 0;
  row-gap: 0;
  max-width: 282px;
  position: relative;
}

.element__trash-btn {
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
  padding: 0;
  margin: 0;
  background-color:transparent; 
}

.element__trash-btn:hover {
  opacity: 0.5;
  transition: 0.4s;
  cursor: pointer;
}

.element__photo {
  width: 100%;
  display: block;
  margin: 0;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
  min-height: 282px;
  max-height: 282px;
}

.element__caption {
  background: #ffffff;
  color: #000000;
  display: flex;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 21px;
  padding-top: 0;
  margin-top: 0;
  max-width: 100%;
}

.element__title {
  margin: 0;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  padding-top: 25px;
  padding-bottom: 31px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.element__like-btn {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent; 
  background-repeat: no-repeat;
  justify-self: center;
  align-self: center;
}
.element__like-btn:hover {
  opacity: 0.5;
  transition: 0.4s ease-in-out;
  cursor: pointer;
}

.element__like-btn_active {
  background-image: url("../images/Union.svg");
  border: none;
  padding: 0;
  margin: 0;
  background-color:transparent; 
}
  

@media screen and (max-width: 320px) {
  .element__list {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
