.footer {
  padding-top: 68px;
  padding-bottom: 60px;
  margin: 0;
  text-align: start;
  color: #545454;
}

.footer__copyrights {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
  margin: 0;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 30px 19px 36px 19px;
  }

  .footer__copyrights {
    font-size: 14px;
    line-height: 17px;
  }
}
