.form {
  width: 430px;
  background: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-self: center;
  position: relative;
}

.form__title {
  padding-left: 36px;
  padding-right: 36px;
  margin: 0;
  padding-top: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  padding: 54px 36px 36px 36px;
  max-width: 100%;
}

.form__input {
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 13px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 29px;
}

.form__input_type_error {
  border-bottom: solid #ff0000 1px;
}

.form__input-error {
  font-size: 12px;
  padding-top: 4px;
  min-height: 16px;
  color: #ff0000;
}

.form__button {
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  margin-top: 48px;
  line-height: 50px;
  border: none;
}

.form__button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.form__button_disabled, 
.form__button_disabled:hover {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.2);
  cursor: default;
}

@media screen and (max-width: 600px) {
  .form {
    max-width: 290px;
  }
}

@media screen and (max-width: 320px) {
  .form {
    max-width: 282px;
    box-sizing: border-box;
  }

  .form__title {
    font-size: 18px;
    line-height: 22px;
    padding: 25px 22px 0 22px;
  }

  .form__fieldset {
    padding: 77px 22px 25px 22px;
  }
}
