.header {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-bottom: 1px solid rgba(84, 84, 69, 0.7);
}

.header__logo {
  max-width: 176px;
  padding-bottom: 41px;
  
}


@media screen and (max-width: 1000px) {
  .header__logo {
    align-self: flex-start;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding-top: 28px;
  }

  .header__logo {
    max-width: 100%;
    padding-left: 27px;
  }
}
