.page {
  max-width: 1280px;
  margin: auto;
  padding: 0;
  padding-left: 200px;
  padding-right: 200px;
  background: #000000;
  color: #ffffff;
  font-family: "inter", arial, sans-serif;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
  position: relative;
}


@media screen and (max-width: 1000px) {
    .page {
      max-width: 100%;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    padding-left: 0;
    padding-right: 0;
  }
}

