.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}


.popup__opened {
  display: flex;
}

.popup__container {
  display: flex;
  margin: auto;
  position: relative;
}

.popup__close-btn {
  background: none;
  border: none;
  align-self:center;
  position: absolute;
  right: -44px;
  top: -44px;
}

.popup__form {
  width: 430px;
  background: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  align-self: center;
  position: relative;
}

.popup__title {
  padding-left: 36px;
  padding-right: 36px;
  margin: 0;
  padding-top: 34px;
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.popup__input {
  display: flex;
  flex-direction: column;
  padding: 54px 36px 36px 36px;
  max-width: 100%;
}

.input__text {
  border: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  padding-bottom: 13px;
  text-align: left;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.input__text_type_about-me {
  margin-top: 29px;
}

.popup__save-btn {
  border-radius: 2px;
  background-color: #000000;
  color: #ffffff;
  padding: 0;
  margin-top: 48px;
  line-height: 50px;
  border: none;
}

.popup__save-btn:hover {
  opacity: 0.8;
  cursor: url("../images/cursor.svg"), pointer;
}

.popoup__close-icon {
  width: 36px;
}

@media screen and (max-width: 600px) {
  .popup__form {
    max-width: 290px;
  }

  .popup__close-btn {
    top: -35px;
    right: 0;
  }

  .popoup__close-icon {
    width: 19px;
  }
}

@media screen and (max-width: 320px) {
  .popup__form {
    max-width: 282px;
    box-sizing: border-box;
  }

  .popup__title {
    font-size: 18px;
    line-height: 22px;
  }

  .popup__close-btn {
    top: -31px;
    right: 0;
  }

  .popoup__close-icon {
    width: 18px;
  }
}
