.profile {
  padding-top: 40px;
  display: flex;
  max-width: 100%;
  position: relative;
}

.profile__image {
  border-radius: 50%;
  width: 168px;
}

.profile__info {
  padding-left: 30px;
  padding-right: 16px;
  align-self: center;
  display: grid;
  grid-template-columns: auto 24px;
  grid-template-rows: auto 22px;
  row-gap: 16px;
  column-gap: 18px;
}

.profile__name {
  font-size: 42px;
  font-style: normal;
  font-weight: 500;
  line-height: 42px;
  letter-spacing: 0em;
  margin: 0;
}

.profile__about-me {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
  width: 100%;
}

.profile__edit-btn {
  background-color: black;
  border: none;
  margin: 0;
  padding: 0;
  align-self: flex-end;
}

.profile__edit-btn:hover {
  opacity: 0.6;
  transition: ease-in-out 0.2s;
}

.profile__add-btn {
  background-color: black;
  border: solid 1px #ffffff;
  padding: 0;
  width: 150px;
  height: 50px;
  align-self: center;
}

.profile__add-btn:hover {
  opacity: 0.6;
  transition: ease-in-out 0.2s;
  cursor: url("../images/cursor.svg"), pointer;
}

.profile__divider {
  flex-grow: 1;
}

@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    justify-content: center;
  }

  .profile__image {
    align-self: center;
    width: 120px;
  }

  .profile__info {
    padding-left: 0;
    max-width: 100%;
    column-gap: 10px;
    row-gap: 14px;
    grid-template-columns: auto auto;
    grid-template-rows: 27px 22px;
    padding-bottom: 36px;
    padding-top: 27px;
  }

  .profile__name {
    font-size: 22px;
    line-height: 27px;
  }

  .profile__edit-btn {
    width: 18px;
    height: 18px;
    align-self: center;
  }

  .profile__add-img {
    max-width: 100%;
  }

  .profile__add-btn {
    position: static;
    border: solid 2px #ffffff;
    width: 100%;
  }

  .profile__add-btn:hover {
    cursor: auto;
  }

  .profile__about-me {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    margin: 0;
    width: 100%;
    grid-column: 1/ -1;
  }
}

@media screen and (max-width: 1000px) {
  .profile {
    flex-direction: column;
    gap: 20px;
  }

  .profile__image {
    align-self: center;
  }

  .profile__add-btn {
    width: 282px;
  }

  .profile__name {
    font-size: 24px;
    line-height: 26px;
  }

  .profile__about-me{
      text-align: center;
  }
}
