<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="webpage of photos from around the u.s" />
    <meta name="author" content="yaron amir" />
    <meta name="weywords" content="html, css, js" />
    <!-- <link rel="stylesheet" href="./pages/index.css" />-->
    <title>around the u.s</title>
  </head>
  <body class="body">
    <div class="page">
      <header class="header">
        <img
          class="header__logo"
          src="<%= require('./images/logo.svg')%>"
          alt="around the u.s logo"
        />
      </header>
      <main class="content">
        <section class="profile">
          <div class="profile__avatar-container">
            <img
              class="profile__avatar"
              src="<%= require('./images/image.png')%>"
              alt="Jacques Cousteau photo"
            />
          </div>
          <div class="profile__info">
            <h1 class="profile__name">Jacques Cousteau</h1>
            <button class="profile__edit-btn" type="button" aria-label="edit">
              <img
                class="profile__edit-img"
                src="<%= require('./images/Edit-Button.svg')%>"
                alt="edit-btn image"
              />
            </button>
            <p class="profile__about">Explorer</p>
          </div>

          <button class="profile__add-btn" type="button" aria-label="add">
            <img
              class="profile__add-img"
              src="<%= require('./images/plus-sign.svg')%>"
              alt="add-btn image"
            />
          </button>
        </section>
        <section class="element">
          <ul class="element__list"></ul>
        </section>
      </main>
      <footer class="footer">
        <p class="footer__copyrights">© 2022 Around The U.S.</p>
      </footer>
      <!--------profile-modal---------->
      <div class="modal modal_type_edit-profile">
        <div class="modal__container">
          <button
            class="modal__close-btn modal__close-btn_type_profile"
            type="button"
            aria-label="close"
          >
            <img
              class="modal__close-icon modal__close-icon_type_profile"
              src="<%= require('./images/Close-Icon.svg')%>"
              alt="closing tag"
            />
          </button>
          <form
            action="submit"
            class="form form_type_profile"
            name="form_type_profile"
            novalidate
            autocomplete="off"
          >
            <h2 class="form__title form__title_type_profile">Edit profile</h2>
            <fieldset class="form__fieldset form__fieldset_type_profile">
              <input
                input
                id="name-input"
                type="text"
                name="name"
                placeholder="name"
                class="form__input form__input_type_name"
                minlength="2"
                maxlength="40"
                required
              />
              <span class="form__input-error name-input-error"></span>
              <input
                input
                id="about-me-input"
                type="text"
                name="about-me"
                placeholder="about me"
                class="form__input form__input_type_about-me"
                minlength="2"
                maxlength="200"
                required
              />
              <span class="form__input-error about-me-input-error"></span>
              <button
                class="form__button form__button_type_profile"
                type="submit"
              >
                save
              </button>
            </fieldset>
          </form>
        </div>
      </div>
      <!---------place-modal------------->
      <div class="modal modal_type_place">
        <div class="modal__container">
          <button
            class="modal__close-btn modal__close-btn_type_place"
            type="button"
            aria-label="close"
          >
            <img
              class="modal__close-icon modal__close-icon_type_place"
              src="<%= require('./images/Close-Icon.svg')%>"
              alt="closing tag"
            />
          </button>
          <form
            class="form form_type_place"
            name="form_type_place"
            novalidate
            autocomplete="off"
          >
            <h2 class="form__title form__title_type_place">New place</h2>
            <fieldset class="form__fieldset form__fieldset_type_place">
              <input
                input
                id="title-input"
                type="text"
                name="Title"
                placeholder="Title"
                class="form__input form__input_type_title"
                minlength="1"
                maxlength="30"
                required
              />
              <span class="form__input-error title-input-error"></span>
              <input
                input
                id="url-input"
                type="url"
                name="Image link"
                placeholder="Image link"
                class="form__input form__input_type_image-link"
                required
              />
              <span class="form__input-error url-input-error"></span>
              <button class="form__button" type="submit">save</button>
            </fieldset>
          </form>
        </div>
      </div>
      <!----------preview-modal------------>
      <div class="modal modal_type_preview">
        <div class="modal__container modal__container_type_preview">
          <button
            class="modal__close-btn modal__close-btn_type_preview"
            type="button"
            aria-label="close"
          >
            <img
              class="modal__close-icon modal__close-icon_type_preview"
              src="<%= require('./images/Close-Icon.svg')%>"
              alt="closing tag"
            />
          </button>
          <img class="modal__image modal__image_type_preview" src="#" alt="#" />
          <p class="modal__title modal__title_type_preview"></p>
        </div>
      </div>
      <!--------------delete-modal---------------------->
      <div class="modal modal_type_delete">
        <div class="modal__container">
          <button
            class="modal__close-btn modal__close-btn_type_delete"
            type="button"
            aria-label="close"
          >
            <img
              class="modal__close-icon modal__close-icon_type_delete"
              src="<%= require('./images/Close-Icon.svg')%>"
              alt="closing tag"
            />
          </button>
          <div class="modal__content">
            <p class="modal__question">Are you sure?</p>
            <button
              class="modal__button modal__button_type_delete"
              type="submit"
            >
              Yes
            </button>
          </div>
        </div>
      </div>
      <!------------------------avatar-modal----------------------->
    <div class="modal modal_type_avatar">
      <div class="modal__container">
        <button
          class="modal__close-btn modal__close-btn_type_avatar"
          type="button"
          aria-label="close"
        >
          <img
            class="modal__close-icon modal__close-icon_type_avatar"
            src="<%= require('./images/Close-Icon.svg')%>"
            alt="closing tag"
          />
        </button>
        <form
          class="form form_type_avatar"
          name="form_type_avatar"
          novalidate
          autocomplete="off"
        >
          <h2 class="form__title form__title_type_avatar">Change profile picture</h2>
          <fieldset class="form__fieldset form__fieldset_type_avatar">
            
            <input
              input
              id="url-input"
              type="url"
              name="Image link"
              placeholder="Image link"
              class="form__input form__input_type_image-link"
              required
            />
            <span class="form__input-error url-input-error"></span>
            <button class="form__button" type="submit">save</button>
          </fieldset>
        </form>
      </div>
    </div>
    </div>
    <!------------------------card-template------------------------------>
    <template id="card-template">
      <li class="element__list-item">
        <button class="element__trash-btn" type="button" aria-label="trash">
          <img
            class="element__trash-icon"
            src="<%= require('./images/Trash.svg')%>"
            alt="trash-icon"
          />
        </button>
        <img
          class="element__photo"
          src="#"
          alt="photo of river and green trees"
        />
        <div class="element__caption">
          <h2 class="element__title"></h2>
          <div class="element__like-container">
            <button class="element__like-btn" type="button" aria-label="like">
              <img
                class="element__like-sign"
                src="<%= require('./images/like-sign.svg')%>"
                alt="like sign"
              />
            </button>
            <span class="element__like-count"></span>
          </div>
        </div>
      </li>
    </template>
  </body>
</html>
